################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WindowServer/WindowServer.Services/bin/Debug/netcoreapp3.1
/WindowServer/WindowServer.Services/obj
/WindowServer/WindowServer.TopSelf/bin/Debug/netcoreapp3.1
/WindowServer/WindowServer.TopSelf/obj
/WindowServer/WindowServer.WorkerService/obj
/WindowServer/.vs/WindowServer
/.vs
